<?php

/*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
*/

declare(
    strict_types = 1
);

namespace Component\BurzeDzisNet;

use const DIRECTORY_SEPARATOR;
use function sprintf;
use function class_exists;
use function str_replace;
use function spl_autoload_register;
use function is_readable;

/**
* Vendor autoloader
*/
require_once sprintf('vendor%sautoload.php', DIRECTORY_SEPARATOR);

/**
* Class loader
*
* @param callable getClass loader
*/
spl_autoload_register(
    function ($className) {
        if (class_exists($className) === true) {
            return;
        }
        $filePath = sprintf(
            'src%s%s.php',
            DIRECTORY_SEPARATOR,
            str_replace('\\', DIRECTORY_SEPARATOR, $className)
        );
        if (is_readable($filePath) === true) {
            require_once $filePath;
        }
    }
);

/**
* Test loader
*
* @param callable test loader
*/
spl_autoload_register(
    function ($className) {
        if (class_exists($className) === true) {
            return;
        }
        $filePath = sprintf(
            'tests%s%s.php',
            DIRECTORY_SEPARATOR,
            str_replace('\\', DIRECTORY_SEPARATOR, $className)
        );
        if (is_readable($filePath) === true) {
            require_once $filePath;
        }
    }
);
